@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap");

.app-title {
  font-size: 9vw;
  text-align: center;
  color: #ee53a8;
  font-family: "Major Mono Display", monospace;
}
